@font-face {
  font-family: Muli-ExtraBold;
  src: url(/utils/assets/fonts/Muli-ExtraBold.ttf);
}
@font-face {
  font-family: Muli-SemiBold;
  src: url(/utils/assets/fonts/Muli-SemiBold.ttf);
}
@font-face {
  font-family: Muli-Regular;
  src: url(/utils/assets/fonts/Muli-Regular.ttf);
}